<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spt.managesystem.mapper.TripMapper">

    <resultMap id="BaseResultMap" type="com.spt.managesystem.model.Trip">
            <id property="tripId" column="trip_id" />
            <result property="tripEmpId" column="trip_emp_id" />
            <result property="tripEmpName" column="trip_emp_name" />
            <result property="tripDeptName" column="trip_deptName" />
            <result property="tripDate" column="trip_date" />
            <result property="reason" column="reason" />
            <result property="isApprove" column="is_approve" />
            <result property="isPass" column="is_pass" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="isDelete" column="is_delete" />
    </resultMap>

    <sql id="Base_Column_List">
        trip_id,trip_emp_id,trip_emp_name,trip_deptName,trip_date,reason,
        is_approve,is_pass,create_time,update_time,is_delete
    </sql>
</mapper>
